<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="styles.css">
</head>

  <body>
    <div class="container">
        <div class="row">
            <div class="col-lg-8  offset-lg-2 webcam">
                <h3 class="mt-5">Live Streaming</h3>
                <img src="{{ url_for('video') }}" class="videoWindow" width="50%">
                <!-- <img class="videoWindow" src="https://images.pexels.com/photos/268533/pexels-photo-268533.jpeg?cs=srgb&dl=pexels-pixabay-268533.jpg&fm=jpg" alt="" srcset=""> -->
            </div>
        </div>
    </div>
    </body>


</html>
